body {
    font-family: "Roboto", sans-serif;
    display: grid;
}
section#main {
    width: 70%;
    height: auto;
    padding: 10px;
    display: grid;
    grid-template-columns: 30% auto;
    grid-template-areas: 
    "form result";
}
form {
    margin-right: 30px;
    display: grid;
    grid-area: form;
    height: 100px;
    grid-template-areas: 
    "label"
    "input"
    "errors"
    "button";
}
input {
    margin: 10px 0;
    grid-area: input;
    height: 20px;
    width: 80%;
}
label {
    grid-area: label;
}

button {
    grid-area: button;
    width: 30%;
}
img {
    width: 50px;
}
.displayResult {
    display: grid;
    height: auto;
    margin-left: 20px;
    grid-area: result;
    grid-template-areas: 
    "icon tem"
    "cityName";
}
.cityName {
    grid-area: cityName;
}
.tem {
    font-weight: bold;
    color: grey;
    font-size: 1.2rem;
    grid-area: tem;
}
.icon {
    grid-area: icon;
    margin: 0 10px;
}
span.error {
    display: none;
    color: red;
    grid-area: errors;
}