body {
    font-family: 'Roboto', sans-serif;
    display: block;
}
section {
    width: 50%;
    height: auto;
    padding: 10px;
    display: flex;
}
form {
    margin-right: 30px;
    float: left;
}
button, form, label {
    display: block;
}
input {
    margin: 10px 0;
}
img {
    width: 50px;
}

.displayResult {
    display: flex;
    margin-left: 20px;
    float: right;

}

.cityName {
    font-weight: normal;
    font-size: 1rem;
}
.tem {
    font-weight: bold;
    color: grey;
    font-size: 1.2rem;
}

span.error {
    display: none;
    padding: 10px;
    color: red;
}