body {
    font-family: "Roboto", sans-serif;
    display: grid;
}
section#main {
    width: 70%;
    height: auto;
    padding: 10px;
    display: grid;
    grid-template-columns: 30% auto;
    grid-template-areas: 
    "form result";
}
form {
    margin-right: 30px;
    display: grid;
    grid-area: form;
    height: 100px;
    grid-template-areas: 
    "label"
    "input"
    "errors"
    "button";
}
#weatherResult {
    display: grid;
    grid-area: result;
    height: auto;
    margin-left: 20px;
    grid-template-areas: 
    "weather"
    "cityName";
}
input {
    grid-area: input;
    width: 80%;
}
label {
    grid-area: label;
}
button {
    grid-area: button;
    width: 30%;
}
.tem {
    font-weight: bold;
    color: grey;
    font-size: 1.2rem;
}
#weather {
    grid-area: weather;
}
span.error {
    display: none;
    color: red;
    grid-area: errors;
}
.icon {
    margin-right: 10px;
}
.icon, .weatherText, .tem {
    display: inline;
    vertical-align: middle;
}
.cityName {
    margin-left: 20px;
}
@media screen and (max-width: 1000px) {
    section#main {
        width: 100%;
    }
}
@media screen and (max-width: 700px) {
    section#main {
        display: block;
    }
}