@import '../css/layout/cssreset';
@import './variables';
@import '../css/components/buttons';
@import '../css/components/weatherapp';
@import '../css/components/defaultCity';



body {
    background-color: $body-background;
    color: $light-font;
    margin: 50px 20px 30px 20px;
    display: grid;
    width: 80%;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 
    "h1 h1"
    "main result";
}
section#main {
    padding: 10px;
    height: 300px;
    border-right: 1px solid #d5eeff;
    margin-right: 30px;
    display: grid;
    grid-area: main;
    grid-template-areas: 
    "form"
    "defaultCity";
}
section#result {
    grid-area: result;
    width: 80%;
}
h1 {
    grid-area: h1;
    margin-left: 20px;
}
form {
    margin-right: 30px;
    display: grid;
    grid-area: form;
    height: 100px;
    grid-template-areas: 
    "label"
    "input"
    "errors"
    "buttons";
}

input {
    grid-area: input;
    margin: 20px 10px 20px 0;
    width: 250px;
    height: auto;
}
label {
    grid-area: label;
}

span.error {
    display: none;
    color: $error-msg-color;
    grid-area: errors;
}
@media screen and (max-width: 1000px) {
    body {
        grid-template-columns: 1fr 3fr;
    }
    .icon {
        display: block;
        width: 15%;
    }
    .weatherText, .icon {
        display: inline-block;
    }
    section#result {
        width: 100%;
    }
}
@media screen and (max-width: 700px) {
    body {
        display: block;
    }
    section#main {
       height: auto;
       border-right: none;       
    }
    #weatherResult {
        margin-top: 10px;
        font-size: 0.8em;
    }
    #defaultCity {
        width: 100%;
    }

}
@media screen and (max-width: 520px){
    body {
        margin-right: 10px;
    }

    .weather {
        display: block;
    }
    #changeDefault {
        width: 15%;
        font-size: 0.5em;
    }
    
}

